@use "variables" as *;
@use "functions" as *;

html {
	font-family: $font-family-primary;
	font-size: 100%;
	line-height: $line-height-small;
	font-weight: 500;
}

main {
    position: relative;
    display: flex;
    width: 100%;
    max-width: pxToRem(1440px);
    min-height: 100vh;
    height: pxToRem(1024px);
    margin: 0 auto;

    @media screen and(max-width: $breakpoint-lg) {
        height: pxToRem(800px);
    }
}

.hero-left {
    width: 100%;
    max-width: pxToRem(676px);

    @media screen and(max-width: $breakpoint-md) {
        width: 0;
    }

    &-background {
        object-fit: cover;
        height: 100%;

        @media screen and(max-width: $breakpoint-md) {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
    }
}

.nav-main-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-main-menu-item {
    padding-left: pxToRem(40px);

    @media screen and(max-width: $breakpoint-sm) {
        padding-left: pxToRem(15px);
    }
}

.nav-main-menu-link {
    display: inline-block;
    font-size: $font-size-medium;
    line-height: $line-height-medium;
    color: $color-black-shade;
    transition: transform 250ms ease,
                color 250ms ease;

    @media screen and(max-width: $breakpoint-md) {
        color: $color-white;
    }

    &:hover {
        color: $color-black-opacity6;
        transform: scale(1.05);

        @media screen and(max-width: $breakpoint-md) {
            color: rgba($color-white, 0.8);
        }
    }
}

.hero-right {
    position: relative;
    width: 100%;
    padding: pxToRem(40px) pxToRem(60px);

    @media screen and(max-width: $breakpoint-sm) {
        padding: pxToRem(20px) pxToRem(20px);
    }

    .title {
        width: 100%;
        max-width: pxToRem(496px);
        font-size: $font-size-big;
        line-height: $line-height-small;
        color: $color-black;
        margin-top: pxToRem(225px);
        margin-bottom: pxToRem(24px);

        @media screen and(max-width: $breakpoint-lg) {
            margin-top: pxToRem(125px);
        }

        @media screen and(max-width: $breakpoint-md) {
            color: $color-white;
        }
    }

    .text {
        width: 100%;
        max-width: pxToRem(560px);
        font-size: $font-size-medium;
        line-height: $line-height-small-plus;
        color: $color-black-opacity6;
        margin-bottom: pxToRem(66px);

        @media screen and(max-width: $breakpoint-md) {
            color: $color-white;
        }
    }

    .buttons-container {
        display: flex;
    }

    .btn {
        width: 100%;
        max-width: pxToRem(185px);
        height: pxToRem(68px);
        border: pxToRem(2px) solid transparent;
        border-radius: pxToRem(10px);
        margin-right: pxToRem(15px);
        transition: transform 400ms ease,
                    background-color 400ms ease,
                    border-color 400ms ease;

        @media screen and(max-width: $breakpoint-md) {
            border-color:  $color-white;
            max-width: pxToRem(155px);
            height: pxToRem(60px);
        }
    }

    .btn-primary {
        color: $color-white;
        background-color: $color-black-shade;

        @media screen and(max-width: $breakpoint-md) {
            color: $color-black;
            background-color: $color-white;
        }

        &:hover {
            background-color: $color-black-opacity6;
            transform: scale(1.05);

            @media screen and(max-width: $breakpoint-md) {
                color: $color-white;
                background-color: rgba($color-white, 0.2);
            }
        }
    }

    .btn-secondary {
        color: $color-black;
        background-color: $color-white;
        border-color: $color-black;

        @media screen and(max-width: $breakpoint-md) {
            color: $color-white;
            border-color: $color-white;
            background-color: transparent;
        }
        
        &:hover {
            color: $color-white;
            background-color: $color-black-opacity6;
            border-color: $color-black-opacity6;
            transform: scale(1.05);

            @media screen and(max-width: $breakpoint-md) {
                border-color: $color-white;
                background-color: rgba($color-white, 0.2);
            }
        }
    }

    .square-element {
        position: absolute;
        bottom: 0;
        right: 0;
        width: pxToRem(172px);
        height: pxToRem(172px);
       
    } 

    .square-element-original {
        @media screen and(max-width: $breakpoint-md) {
            display: none;
        }
    }

    .square-element-white {
        display: none;

        @media screen and(max-width: $breakpoint-md) {
            display: block;
        }
    }
}




