@use "functions" as *;

// Colors
$color-black: #000000;
$color-black-shade:  #060606;
$color-black-opacity6: rgba(0, 0, 0, 0.6);
$color-white: #ffffff;

// Font
$font-family-primary: 'Poppins', sans-serif;

$font-size-big: 50px;
$font-size-medium: 20px;
$font-size-small: 16px;

$line-height-medium: pxToPercentageLineHeight(30px);
$line-height-small-plus: pxToPercentageLineHeight(25.6px);
$line-height-small: pxToPercentageLineHeight(24px);